<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
<connectionStrings>
    <add name="conn" connectionString="Server=c60c736f-58e3-4322-ae62-a41400a54b8d.sqlserver.sequelizer.com;Database=dbc60c736f58e34322ae62a41400a54b8d;User ID=sjfojyvsdwkfhgiz;Password=8L7bg5emcjy5n75eE6C47dwpbRqfT48cYFZF86aVsbEnH4Ei6uPsUz64pQawM7zh;"/>
  </connectionStrings>
</configuration>
